@import "../utils/mixins.scss";
@import "../utils/variables.scss";

.landing-copy p {
	@include fontSizelineHeight(1.3em, 1.4em);
}

.landing-copy h1 {
	@include fontSizelineHeight(3em, 1.2em);
}

.main-nav li {
	font-weight: 400;
	font-size: 1.2em;
}

body {
	font-family: "Open Sans", sans-serif;
}
